/*  This file is part of BNS Featured Category
    Last revised at version 2.0

    Copyright 2009-2015  Edward Caissie  (email : edward.caissie@gmail.com)

    BNS Featured Category is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License, version 2, as
    published by the Free Software Foundation.

    You may NOT assume that you can use any other version of the GPL.

    BNS Featured Tag is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
    or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
    for more details.

    You should have received a copy of the GNU General Public License along with
    this program; if not, write to:

        Free Software Foundation, Inc.
        51 Franklin St, Fifth Floor
        Boston, MA  02110-1301  USA
*/
table.bnsfc-counts,
table.bnsfc-thumbnails {
	width: 100%;
}

.bnsfc-all-options-open,
.bnsfc-more-options-open,
.bnsfc-thumbnails-open,
.bnsfc-excerpt-option-open {
	display: block;
}

.bnsfc-all-options-closed,
.bnsfc-more-options-closed,
.bnsfc-thumbnails-closed,
.bnsfc-excerpt-option-closed {
	display: none;
}