/**
 * This file is part of BNS Featured Category
 * Last revised at version 2.7
 *
 * Copyright 2009-2015  Edward Caissie  (email : edward.caissie@gmail.com)
 *
 * BNS Featured Category is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License, version 2, as
 * published by the Free Software Foundation.
 *
 * You may NOT assume that you can use any other version of the GPL.
 *
 * BNS Featured Category is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program; if not, write to:
 *
 *      Free Software Foundation, Inc.
 *      51 Franklin St, Fifth Floor
 *      Boston, MA  02110-1301  USA
 */

a.bnsfc-link,
a.bnsfc-link:link,
a.bnsfc-link:visited,
a.bnsfc-link:hover,
a.bnsfc-link:focus,
a.bnsfc-link:active {
	font-size: 125%;
	text-decoration: none;
}

.bnsfc-content {
	overflow-x: auto;
}

.bnsfc-clear {
	clear: both;
}

.post .widget.bns-featured-category,
.post .widget.bns-featured-category h2 {
	background: none;
	width: 100%;
}

.bnsfc-shortcode .bnsfc-featured-image-first a img {
	float: left;
	margin-right: 10px;
}